                <!-- Header -->
                <header id="header">
                    <h1 id="logo"><a href="{{ site.url }}/index.html">{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="{{ site.url }}/index.html">Home</a></li>
                            <li><a href="{{ site.url }}/open-lab/">Open Lab</a></li>
                            <li><a href="{{ site.url }}/icebreakers/">Icebreakers</a></li>
                            <!--
                                <li><a href="{{ site.url }}/tech-addicts/">Tech Addicts</a></li>
                            <li><a href="{{ site.url }}/spread-bytes/">Spread bytes</a></li>
                            -->
                            <!--
                            <li>
                                <a href="{{ site.url }}/#">Layouts</a>
                                <ul>
                                    <li><a href="{{ site.url }}/left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="{{ site.url }}/right-sidebar.html">Right Sidebar</a></li>
                                    <li><a href="{{ site.url }}/no-sidebar.html">No Sidebar</a></li>
                                    <li>
                                        <a href="{{ site.url}}/#">Submenu</a>
                                        <ul>
                                            <li><a href="{{ site.url}}/#">Option 1</a></li>
                                            <li><a href="{{ site.url}}/#">Option 2</a></li>
                                            <li><a href="{{ site.url}}/#">Option 3</a></li>
                                            <li><a href="{{ site.url}}/#">Option 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ site.url }}/elements.html">Docs</a></li>
                            <li><a href="{{ site.url}}/#" class="button special icon fa-download">Download</a></li>
                        </ul>
                        -->
                    </nav>
                </header>
