
### What's Mad Labs?

Mad Labs is a group of mad projects and ideas created and mantained by some brave but mad scientist

![Mad scientis]({{ "/assets/images/128px-Mad_scientist_transparent_background.svg.png" | prepend: site.baseurl }})

> A group of crazy and passionate technologist who like to improve their skills and share knowledge
<!-- next-slide -->

### Our other Projects

Open Lab - [http://www.madlabs.it/open-lab/](http://www.madlabs.it/open-lab/)

> software development laboratory

Spread Bytes - [http://www.madlabs.it/spread-bytes/](http://www.madlabs.it/spread-bytes/)

> open source software projects

Tech-addicts - [http://www.madlabs.it/tech-addicts/](http://www.madlabs.it/tech-addicts/)

> blog and mailing list on technology
<!-- next-slide -->

### Our contacts

* GitHub - [https://github.com/mad-labs/](https://github.com/mad-labs/)

* Website - [http://www.madlabs.it/](http://www.madlabs.it/)

* Twitter - [https://twitter.com/madlabsprojects](https://twitter.com/madlabsprojects)

* Facebook - [https://www.facebook.com/madlabsprojects/](https://www.facebook.com/madlabsprojects)

* Slack - [https://madlabs-team.slack.com/](https://madlabs-team.slack.com/)

* Mail - [madlabsprojects@gmail.com](mailto:madlabsprojects@gmail.com)

~

* This slides - [{{ page.url | prepend: "http://www.madlabs.it/icebreakers" }}]({{ page.url | prepend: "http://www.madlabs.it/icebreakers" }})
<!-- next-slide -->