---
layout: default
---

<div id="main" class="wrapper style1">
    <div class="container">
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="style4 wrapper container">
            {{ content }}
        </section>

        <footer>
            {% if page.previous %}
            <a href="{{ site.baseurl }}{{ page.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
            
            {% if page.next %}
            <a href="{{ site.baseurl }}{{ page.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
        </footer>
        </article>
    </div>
</div>
